body{
    background-color: black;
    color: white;
    font-family: "Montserrat", sans-serif;
}

.logo{
    width: 2em;
}

.color2{
    color: white;
    background-color: #0DCAF0;
}

a{
    text-decoration: none;
    color: white;
}
